[Unit]
Description=UvooMiniCMS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=uvoominicms
Group=uvoominicms
WorkingDirectory=/usr/share/uvoominicms
EnvironmentFile=-/etc/uvoominicms/uvoominicms.env
ExecStart=/usr/bin/uvoominicms
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/lib/uvoominicms

[Install]
WantedBy=multi-user.target
